<h1>Hlasovanie poslancov</h1>
<p>
  <b>Názov:</b>
  <%=h @voting.subject %>
</p>

<p>
  <b>Dátum hlasovania:</b>
  <%=h "#{@voting.happened_at.day}.#{@voting.happened_at.month}.#{@voting.happened_at.year}" %>
</p>

<% if current_user %>
  <h3>Vas nazor?</h3>
    <% form_tag(vote_voting_path(@voting), :method => :put) do %>
      <%= @user_vote.vote == "Z" ? radio_button_tag(:my_vote, "Z", true) : radio_button_tag(:my_vote, "Z", false) %>
      <%= label_tag(:za, "Za") %><br />
      <%= @user_vote.vote == "P" ? radio_button_tag(:my_vote, "P", true) : radio_button_tag(:my_vote, "P", false) %>
      <%= label_tag(:proti, "Proti") %><br />
      <%= submit_tag "Hlasuj", "class" => "button" %>
    <% end %>
<% end %>

<h3>Výsledok hlasovania</h3>

<table>

  <tr class="row-a">
    <td class="first">Prítomných:</td>
    <td><%=h @voting.attending_count %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Hlasujúcich:</td>
    <td><%=h @voting.voting_count %></td>
  </tr>

  <tr class="row-a">
    <td class="first">[Z] Za hlasovalo:</td>
    <td><%=h @voting.pro_count %></td>
  </tr>

  <tr class="row-b">
    <td class="first">[P] Proti hlasovalo:</td>
    <td><%=h @voting.against_count %></td>
  </tr>

  <tr class="row-a">
    <td class="first">[?] Zdržalo sa hlasovania:</td>
    <td><%=h @voting.hold_count %></td>
  </tr>     

  <tr class="row-b">
    <td class="first">[N] Nehlasovalo:</td>
    <td><%=h @voting.not_voting_count %></td>
  </tr>

  <tr class="row-a">
    <td class="first">[0] Neprítomní:</td>
    <td><%=h @voting.not_attending_count %></td>
  </tr>


</table>

<%= render :partial => "votes", :object => @votes %>
