<div class="post">
<h1>Zoznam poslancov</h1>

<% form_tag(deputies_path, :method => "get") do %>
    <%= label_tag(:party, "Strana") %>
    <%= select_tag "party", @options %>
    <%= submit_tag "Zobraz", "class" => "button" %>
<% end %>

<table>
  <% i = 0 %>
  <tr>
    <th class="first">Meno</th>
    <th>Priezvisko</th>
    <th>Strana</th>
  </tr>

<% @deputies.each do |deputy| %>
  <tr <%= i%2 == 0 ? ' class="row-a"' : 'class="row-b"' %>>
    <td class="first"><%= deputy.firstname %></td>
    <td><%= deputy.lastname %></td>
    <td><%= deputy.party %></td>
    <td><%= link_to 'Info', deputy %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>
</div>    