<script id="test" language="javascript" type="text/javascript">

</script>

<h1><%= @deputy.firstname + " " + @deputy.lastname %></h1>

<div class="poslanec">

    <div class="foto">
        <%= image_tag("/images/photos/#{@deputy.photo}") %>
    </div>


<table>

  <tr class="row-a">
    <td class="first">Titul:</td>
    <td><%= @deputy.degree %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Meno:</td>
    <td><%= @deputy.firstname %></td>
  </tr>

  <tr class="row-a">
    <td class="first">Priezvisko:</td>
    <td><%= @deputy.lastname %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Kandidoval(a) za:</td>
    <td><%= @deputy.party %></td>
  </tr>

  <tr class="row-a">
    <td class="first">D치tum narodenia:</td>
    <td><%= @deputy.born %></td>
  </tr>

  <tr class="row-b">
    <td class="first">N치rodnos콘:</td>
    <td><%= @deputy.nationality %></td>
  </tr>

  <tr class="row-a">
    <td class="first">Bydlisko:</td>
    <td><%= @deputy.domicile %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Regi칩n:</td>
    <td><%= @deputy.region %></td>
  </tr>

  <% unless @deputy.email.nil? %>
  <tr class="row-a">
    <td class="first">Email:</td>
    <td><%= @deputy.email %></td>
  </tr>
  <% end %>

  <% unless @deputy.contact_person.nil? %>
  <tr class="row-a">
    <td class="first">Kont. osoba:</td>
    <td><%= @deputy.contact_person %></td>
  </tr>
  <% end %>
  
</table>

</div>

</div></div>

<h1>Graf zhody poslancov</h1><br />
<span id="clickdata"></span>
<form name="jumpopt">
<p id="choices">Vyberte si, ktore strany sa maju zobrazit:<br /></p>

<select id="deputies" name="select"></select>
  <!--onchange='OnChange(jumpopt.select.options[selectedIndex].value)'-->
</form>
<div id="overviewLegend" style="margin-left:10px"></div>

   <div id="placeholder" style="width:530px;height:600px;margin-bottom:15px;float:left"></div>
    <div id="overview" style="margin-top:22px;width:120px;height:553px;float:left"></div>


   <script id="source" language="javascript" type="text/javascript">



   $(function () {
   var datasets = <%= @datasets %>;
   var y_selection_1 = new Number(126);
   var y_selection_2 = new Number(150);
   var plot;

   //horizontal graph

   // insert checkboxes
   var choiceContainer = $("#choices");
   var deputiesContainer = $("#deputies");
   //deputiesContainer.append('<select id="party" name="party">"');
   $.each(datasets, function(key, val) {
       choiceContainer.append('<input type="checkbox" name="' + key +
                              '" checked="checked" id="id' + key + '">' +
                              '<label for="id' + key + '">'
                               + val.label + '</label>' + '| ');
       val.deputies.forEach(function(item) {
            deputiesContainer.append('<option id="' + item[0] + '">' + item[3] + " " + item[4] + '</option>');
       });
   });
   choiceContainer.find("input").click(plotAccordingToChoices);
   $("#deputies").change(OnChange);
   //deputiesContainer.append('</select>"');


     function OnChange()
   {
//           var myindex  = dropdown.selectedIndex;
//           var SelValue = dropdown.options[myindex].value;
       deputiesContainer.find("option:selected").each(function(i, selected) {
           var value = selected.text;
           var poz = parseInt($(this).attr("id"));
    //      $("#clickdata").text("You clicked " + value + "." + "Pozition is: " + plot.pointOffset({ x: 0, y: poz }).top );
           var offset = plot.pointOffset({ x: 0, y: poz });
           offset.top = offset.top - (600 - plot.height());
           plot.pan(offset);
       });

       return true;
   }

   $("#clickdata").text("You clicked " + ".");

      function plotAccordingToChoices() {
           var data = [];

           choiceContainer.find("input:checked").each(function () {
               var key = $(this).attr("name");
               if (key && datasets[key])
                   data.push(datasets[key]);
       });

          //, ticks: <%= @ticks %>
          //, tickSize: 1, tickFormatter: formatter
       var options = {
              series: {
                   bars: { show: true, horizontal :true, barWidth: 1, fill: 0.5
                   }
               },
               grid: { hoverable: true, clickable: true, tickColor: '#fff',
                   markings: function (axes) {
                    var markings = [];
                    for (var x = 20; x < 100; x += 20)
                      markings.push({ xaxis: { from: x, to: x }, yaxis: { from: 1, to: 150 }, color: "#777" });
                    return markings;
              } },
               yaxis: { labelWidth: 170, min: 1, max: 25, ticks: <%= @ticks %>, panRange: [1, 150] },
               xaxis: { min: 0, max: 100, panRange: [0,100] },
               x2axis: { min: 0, max: 100, panRange: [0,100] },
              legend: {
                show: false
              },
               pan: {
                   interactive: true
               },
               markings: [ { xaxis: { from: 0, to: 100 }, yaxis: { from: 1, to: 150 } }]
           };

       var placeholder = $("#placeholder");

       plot = $.plot(placeholder, data, options);

       //hotizontal

       var overview = $.plot($("#overview"),
                data,{
            series: {
                bars: { show: true, barWidth: 1, horizontal: true },
                shadowSize: 0
            },
            xaxis: { ticks: [], min: 0, max: 120 },
            x2axis: { ticks: [], min: 0, max: 120 },
            yaxis: { ticks: [], min: 1, max: 150 },
            grid: { show: false },
            selection: { mode: "y", color: '#999' },
            legend: { show: true, noColumns: 6, container: $("#overviewLegend") }
        });

       //clickaction

       function showTooltip(x, y, id, party) {
        $('<div id="tooltip"><div class="foto" style="border-collapse: collapse;margin: 10px 15px;float: left;"><img alt="243" src="/images/photos/' + datasets[party].deputies[id][1] + '" /></div>\
        <table style ="border-collapse: collapse;margin: 10px 15px;float: right;">\
            <tr class="row-a">\
            <td class="first">Titul:</td>\
            <td>' + datasets[party].deputies[id][2] +'</td>\
            </tr>\
           <tr class="row-b">\
            <td class="first">Meno:</td>\
            <td>' + datasets[party].deputies[id][3] +'</td>\
          </tr>\
          <tr class="row-a">\
            <td class="first">Priezvisko:</td>\
            <td>' + datasets[party].deputies[id][4] +'</td>\
          </tr>\
          <tr class="row-b">\
            <td class="first">Kandidoval(a) za:</td>\
            <td>' + datasets[party].deputies[id][5] +'</td>\
          </tr>\
      </table>\
          </div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '2px solid #777',
            padding: '2px',
            'background-color': '#FAFAFA',
            opacity: 1
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;


    $("#placeholder").bind("plotclick", function (event, pos, item) {

            if (item) {
                if (previousPoint != item.datapoint) {
                    previousPoint = item.datapoint;

                    $("#tooltip").remove();
                    $("#clickdata").text("You clicked " + item.series.data[item.dataIndex][1] + ".");
                    showTooltip(item.pageX, item.pageY, item.dataIndex, item.series.label);
                    //showTooltip(pos.x.toFixed(2), pos.y.toFixed(2), item.dataIndex, item.series.label);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
    });

   function addArrow(dir, right, top, offset) {
           $('<img class="button" src="/images/arrow-' + dir + '.gif" style="right:' + right + 'px;top:' + top + 'px;">').appendTo(placeholder).click(function (e) {
               e.preventDefault();
               plot.pan(offset);
               if (offset.top < 0) {
                    y_selection_1 = y_selection_1 + 12;
                    y_selection_2 = y_selection_2 + 12;
               }
               else  {
                    y_selection_1 = y_selection_1 - 12;
                    y_selection_2 = y_selection_2 - 12;
               }
               if ( y_selection_2 > 150) {
                    y_selection_1 = 126;
                    y_selection_2 = 150;
               }

               if ( y_selection_1 < 0) {
                    y_selection_1 = 0;
                    y_selection_2 = 24;
               }

             overview.setSelection({ y1: y_selection_1, y2: y_selection_2 });
           });
       }

       addArrow('up', 20, 245, { top: -(plot.height()/2) });
       addArrow('down', 20, 295, { top: (plot.height()/2) });


       //binding overview to plot

//       $("#placeholder").bind("plotselected", function (event, ranges) {
//           // do the zooming
//           plot = $.plot($("#placeholder"), data,
//                         $.extend(true, {}, options, {
//                             yaxis: { min: ranges.yaxis.from, max: ranges.yaxis.to }
//                         }));
//
//           // don't fire event on the overview to prevent eternal loop
//           overview.setSelection(ranges, true);
//       });

//       $("#overview").bind("plotselected", function (event, ranges) {
//           overview.setSelection(ranges);
//       });

          y_selection_1 = 126;
          y_selection_2 = 150;
       overview.setSelection({ y1: y_selection_1, y2: y_selection_2 });
       plot.pan({ top: -9999 });   
   }

   plotAccordingToChoices();
   });
   </script>

<div><div>