<div id="help-message" style="display:none;">
<div class="help">
  <p>Stránka poskytuje podrobné informácie o poslancovi a grafické vyhodnotenie jeho hlasovaní</p>

  <h3>Graf zhody s ostanými poslancami</h3>
  <p>Zobrazuje porovnanie hlasovaní poslanca s tým, ako hlasovali ostatný poslanci.<br />Graf poskytuje tieto možnosti:</p>
  <ul>
    <li><b>Zobrazenie poslanca v novom okne.</b> Kliknutím na meno poslanca sa zobrazí stránka o danom poslancovi</li>
    <li class="justify"><b>Zobrazenie poslanca v aktuálnom okne.</b> Klinutím na stĺpec prislúchajúci k poslancovi sa v malom okne zobrazia jeho stručné informácie. V tomto okne môžete kliknutím na "Porovanie hlasovaní s poslancom" získať podrobné porovnanie vašich hlasovaní. Okno sa zatvorí kliknutím na biele miesto v grafe.</li>
    <li class="justify"><b>Vyhľadanie poslanca v grafe.</b> Vybratím poslanca z ponuky, ktorá sa nachádza nad grafom.</li>
  </ul>

  <h3>Graf zhody s politickými Stranami</h3>
  <p>Zobrazuje porovnanie hlasovaní poslanca s tým, ako hlasovali politické strany ako celok</p>
</div>
</div>

<div class="post">
<h1><%=h @deputy.firstname + " " + @deputy.lastname %></h1>

<div class="poslanec">

    <div class="foto">
        <%= image_tag("/images/photos/#{@deputy.photo}") %>
    </div>


<table>

  <tr class="row-a">
    <td class="first">Titul:</td>
    <td><%=h @deputy.degree %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Meno:</td>
    <td><%=h @deputy.firstname %></td>
  </tr>

  <tr class="row-a">
    <td class="first">Priezvisko:</td>
    <td><%=h @deputy.lastname %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Kandidoval(a) za:</td>
    <td><%=h @deputy.elected_for %></td>
  </tr>

<% unless @deputy.elected_for == @deputy.party %>
  <tr class="row-b">
    <td class="first">Klub:</td>
    <td><%=h @deputy.party %> <%=h "(od #{format_date(@deputy.party_since)})" unless @deputy.party_since.nil?%></td>
  </tr>
<% end %>

  <tr class="row-a">
    <td class="first">Dátum narodenia:</td>
    <td><%=h format_date(@deputy.born) %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Národnosť:</td>
    <td><%=h @deputy.nationality %></td>
  </tr>

  <tr class="row-a">
    <td class="first">Bydlisko:</td>
    <td><%=h @deputy.domicile %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Región:</td>
    <td><%=h @deputy.region %></td>
  </tr>

  <% unless @deputy.email.nil? %>
  <tr class="row-a">
    <td class="first">Email:</td>
    <td><%=h @deputy.email %></td>
  </tr>
  <% end %>

  <% unless @deputy.contact_person.nil? %>
  <tr class="row-a">
    <td class="first">Kont. osoba:</td>
    <td><%=h @deputy.contact_person %></td>
  </tr>
  <% end %>
  
</table>
<h3>
  <%= link_to "Porovnanie mojich hlasovani s poslancom", comparison_deputy_path(@deputy) %>
</h3>
</div></div>

<div class="post" style="clear:both;">
<h1>Graf zhody s ostanými poslancami</h1>
<form>
<!--<label>Zobraz strany</label>-->
<!--<span id="choices"></span><br />-->
<label for="deputies">Najdi Poslanca</label>
<select id="deputies" name="select"></select>
</form>

<div id="overviewLegend" style="margin-left:10px"></div>

   <div id="placeholder" style="width:530px;height:400px;margin-bottom:15px;float:left"></div>
    <div id="overview" style="margin-top:14px;width:120px;height:372px;float:left"></div>

<div style="clear:both;">
</div>

<!--<div class="content" style="clear:both;">-->
<!--<h1>Graf Stran</h1>-->
<!--<form>-->
<!--<label>Zobraz strany</label>-->
<!--<span id="choices2"></span><br />-->
<!--</form>-->
   <!--<div id="partyLegend" style="margin-left:10px"></div>-->
   <!--<div id="party" style="width:530px;height:250px;margin-bottom:15px;float:left"></div>-->

<!--</div>-->

<div class="post" style="clear:both;">
<h1>Graf zhody s politickými Stranami</h1>
   <div id="party2" style="width:545px;height:250px;margin-bottom:15px;float:left"></div>

<div style="clear:both;">
</div>

   <script id="source" language="javascript" type="text/javascript">

   $(function () {
   var datasets = <%= @datasets %>;
//   var partydatasets = <%= @partydatasets %>;
   var y_selection_1 = 126;
   var y_selection_2 = 150;
   var plot;
   var overview;
   var height = 400;
   var barsShown = 16;
   var colors = {'SMER – SD': 'rgb(220,57,18)','SDKÚ – DS': 'rgb(70,132,238)', 'SNS': 'rgb(255,153,0)','SMK – MKP': 'rgb(0,128,0)','ĽS – HZDS': 'rgb(12,12,12)','KDH': 'rgb(73,66,204)', 'Nezávislý': 'rgb(120,120,120)'};
   var deputiesContainer = $("#deputies");
   var i = 0;


   //assing color to graphs
      $.each(datasets, function(key, val) {
           val.color = colors[val.label];
          if (i == 0) {
              val.xaxis = 2;
              i = 1;
          }
       });

//      $.each(partydatasets, function(key, val) {
//           val.color = colors[val.label];
//       });

   deputiesContainer.append('<%= @options %>');
   deputiesContainer.change(OnChange);

     function OnChange()
   {
       deputiesContainer.find("option:selected").each(function(i, selected) {
           var value = selected.text;
           var poz = parseInt($(this).attr("id")) + 1;
           var offset = plot.pointOffset({ x: 0, y: poz });
           offset.top = offset.top - ((height - plot.height())/2)*1.5;
           plot.pan(offset);
           y_selection_1 = poz - barsShown;
           y_selection_2 = poz;
           setSelection();
       });
       return true;
   }

    //set selection in overview graph
   function setSelection() {
       if ( y_selection_2 > 150) {
            y_selection_1 = 150 - barsShown;
            y_selection_2 = 150;
       }

       if ( y_selection_1 < 0) {
            y_selection_1 = 0;
            y_selection_2 = barsShown;
       }
       overview.setSelection({ y1: y_selection_1, y2: y_selection_2 });
   }

      function plotAccordingToChoices() {
           var data = [];
           var placeholder = $("#placeholder");

           $.each(datasets, function(key, val) {
               if (key && datasets[key])
                   data.push(datasets[key]);
       });

       var options = {
              series: {
                   bars: { show: true, horizontal :true, barWidth: 1, fill: 0.5
                   }
               },
               grid: { hoverable: true, clickable: true, borderWidth: 2
//                   ,tickColor: '#fff'
//                   markings: function (axes) {
//                    var markings = [];
//                    for (var x = 20; x < 100; x += 20)
//                      markings.push({ xaxis: { from: x, to: x }, yaxis: { from: 1, to: 150 }, color: "#aaa" });
//                    return markings;
               },
               yaxis: { labelWidth: 170, min: 1, max: 1 + barsShown, ticks: <%= @ticks %>, panRange: [1, 150] },
               xaxis: { labelHeight: 10, min: 0, max: 100, panRange: [0,100] },
               x2axis: { labelHeight: 10, min: 0, max: 100, panRange: [0,100] },
              legend: {
                show: false
              },
               pan: {
                   interactive: true
               },
               markings: [ { xaxis: { from: 0, to: 100 }, yaxis: { from: 1, to: 150 } }]
           };

       plot = $.plot(placeholder, data, options);

       //hotizontal

       overview = $.plot($("#overview"),
                data,{
            series: {
                bars: { show: true, barWidth: 1, horizontal: true },
                shadowSize: 0
            },
            xaxis: { ticks: [], min: 0, max: 120 },
            x2axis: { ticks: [], min: 0, max: 120 },
            yaxis: { ticks: [], min: 1, max: 150 },
            grid: { show: false },
            selection: { mode: "y", color: '#999' },
            legend: { show: true, noColumns: 6, container: $("#overviewLegend") }
        });

       //clickaction

       function showTooltip(x, y, id, party) {
        $('<div id="tooltip"><div class="foto" style="border-collapse: collapse;margin: 10px 15px;float: left;"><img alt="243" src="<%= @site_root %>/images/photos/' + datasets[party].deputies[id][1] + '.jpeg" /></div>\
        <table style ="border-collapse: collapse;margin: 10px 15px;float: right;">\
            <tr class="row-a">\
            <td class="first">Titul:</td>\
            <td>' + datasets[party].deputies[id][2] +'</td>\
            </tr>\
           <tr class="row-b">\
            <td class="first">Meno:</td>\
            <td>' + datasets[party].deputies[id][3] +'</td>\
          </tr>\
          <tr class="row-a">\
            <td class="first">Priezvisko:</td>\
            <td>' + datasets[party].deputies[id][4] +'</td>\
          </tr>\
          <tr class="row-b">\
            <td class="first">Klub:</td>\
            <td>' + datasets[party].deputies[id][5] +'</td>\
          </tr>\
          </table>\
          </div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '2px solid #777',
            padding: '2px',
            'background-color': '#FAFAFA',
            opacity: 1
        }).appendTo("body").fadeIn(200);
    }
          
    var previousPoint = null;
    $("#placeholder").bind("plotclick", function (event, pos, item) {

            if (item) {
                if (previousPoint != item.datapoint) {
                    previousPoint = item.datapoint;

                    $("#tooltip").remove();
//                    $("#clickdata").text("You clicked " + item.series.data[item.dataIndex][1] + ".");
                    showTooltip(item.pageX, item.pageY, item.dataIndex, item.series.label);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
    });

   function addArrow(dir, right, top, offset) {
           $('<img class="button" src="<%= @site_root %>/images/arrow-' + dir + '.gif" style="right:' + right + 'px;top:' + top + 'px;">').appendTo(placeholder).click(function (e) {
               e.preventDefault();
               plot.pan(offset);
               if (offset.top < 0) {
                    y_selection_1 = y_selection_1 + barsShown/2;
                    y_selection_2 = y_selection_2 + barsShown/2;
               }
               else  {
                    y_selection_1 = y_selection_1 - barsShown/2;
                    y_selection_2 = y_selection_2 - barsShown/2;
               }
               setSelection();
//             overview.setSelection({ y1: y_selection_1, y2: y_selection_2 });
           });
       }

       addArrow('up', 20, height/2 - 25, { top: -(plot.height()/2) });
       addArrow('down', 20, height/2 + 25, { top: (plot.height()/2) });


      //set focus on top when after draw
      y_selection_1 = 150 - barsShown;
      y_selection_2 = 150;
       overview.setSelection({ y1: y_selection_1, y2: y_selection_2 });
       plot.pan({ top: -9999 });   
   }

//       var choice2Container = $("#choices2");
//       $.each(partydatasets, function(key, val) {
//           choice2Container.append(' <input type="checkbox" name="' + key +
//                              '" checked="checked" id="id' + key + '">' +
//                              '<label for="id' + key + '">'
//                               + val.label + '</label>' + ' ');
//       });
//       choice2Container.find("input").click(plot2AccordingToChoices);


//       function plot2AccordingToChoices() {
//           var data = [];
//
//           choice2Container.find("input:checked").each(function () {
//               var key = $(this).attr("name");
//               if (key && partydatasets[key])
//                   data.push(partydatasets[key]);
//           });
//
//           if (data.length > 0)
//               $.plot($("#party"), data, {
//                   yaxis: { min: 0, max: 100, tickSize: 10 },
//                   xaxis: { ticks: []},
//                   legend: { show: true, noColumns: 6, container: $("#partyLegend") }
//               });
//       }

      function plot3AccordingToChoices() {
           var avgdatasets = <%= @avgpartydatasets%>;
           var data = [];

          i = 0;
          $.each(avgdatasets, function(key, val) {
               val.color = colors[val.label];
            if (i == 0) {
              val.yaxis = 2;
              i = 1;
              }
           });

           $.each(avgdatasets, function(key, val) {
               if (key && avgdatasets[key])
                   data.push(avgdatasets[key]);
       });

           $.plot($("#party2"), data, {
             series: {
                   bars: { show: true , barWidth: 0.8}
               },
               yaxis: { labelWidth: 15, min: 0, max: 100, tickSize: 10 },
               y2axis: { labelWidth: 15, min: 0, max: 100, tickSize: 10 },
               xaxis: { min: 0.5, max: 7.5, ticks: <%= @avgticks %>},
               legend: { show: false }
           });
       }


   plotAccordingToChoices();
//   plot2AccordingToChoices();
   plot3AccordingToChoices();
       
   });
   </script>
