<div id="help-message" style="display:none;">
<div class="help">
  <p>Stránka poskytuje podrobné informácie o poslancovi a grafické vyhodnotenie jeho hlasovaní</p>

  <h3>Graf zhody s ostanými poslancami</h3>
  <p>Zobrazuje porovnanie hlasovaní poslanca s tým, ako hlasovali ostatný poslanci.<br />Graf poskytuje tieto možnosti:</p>
  <ul>
    <li><b>Zobrazenie poslanca v novom okne.</b> Kliknutím na meno poslanca sa zobrazí stránka o danom poslancovi</li>
    <li class="justify"><b>Zobrazenie poslanca v aktuálnom okne.</b> Klinutím na stĺpec prislúchajúci k poslancovi sa v malom okne zobrazia jeho stručné informácie. V tomto okne môžete kliknutím na "Porovanie hlasovaní s poslancom" získať podrobné porovnanie vašich hlasovaní. Okno sa zatvorí kliknutím na biele miesto v grafe.</li>
    <li class="justify"><b>Vyhľadanie poslanca v grafe.</b> Vybratím poslanca z ponuky, ktorá sa nachádza nad grafom.</li>
  </ul>

  <h3>Graf zhody s politickými Stranami</h3>
  <p>Zobrazuje porovnanie hlasovaní poslanca s tým, ako hlasovali politické strany ako celok</p>
</div>
</div>

<div class="post">
<h1><%=h @deputy.firstname + " " + @deputy.lastname %></h1>

<div class="poslanec">

    <div class="foto">
        <%= image_tag("/images/photos/#{@deputy.photo}") %>
    </div>


<table>

  <tr class="row-a">
    <td class="first">Titul:</td>
    <td><%=h @deputy.degree %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Meno:</td>
    <td><%=h @deputy.firstname %></td>
  </tr>

  <tr class="row-a">
    <td class="first">Priezvisko:</td>
    <td><%=h @deputy.lastname %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Kandidoval(a) za:</td>
    <td><%=h @deputy.elected_for %></td>
  </tr>

<% unless @deputy.elected_for == @deputy.party %>
  <tr class="row-b">
    <td class="first">Klub:</td>
    <td><%=h @deputy.party %> <%=h "(od #{format_date(@deputy.party_since)})" unless @deputy.party_since.nil?%></td>
  </tr>
<% end %>

  <tr class="row-a">
    <td class="first">Dátum narodenia:</td>
    <td><%=h format_date(@deputy.born) %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Národnosť:</td>
    <td><%=h @deputy.nationality %></td>
  </tr>

  <tr class="row-a">
    <td class="first">Bydlisko:</td>
    <td><%=h @deputy.domicile %></td>
  </tr>

  <tr class="row-b">
    <td class="first">Región:</td>
    <td><%=h @deputy.region %></td>
  </tr>

  <% unless @deputy.email.nil? %>
  <tr class="row-a">
    <td class="first">Email:</td>
    <td><%=h @deputy.email %></td>
  </tr>
  <% end %>

  <% unless @deputy.contact_person.nil? %>
  <tr class="row-a">
    <td class="first">Kont. osoba:</td>
    <td><%=h @deputy.contact_person %></td>
  </tr>
  <% end %>
  
</table>
<h3>
  <%= link_to "Porovnanie mojich hlasovani s poslancom", comparison_deputy_path(@deputy) %>
</h3>
</div></div>

<div class="post" style="clear:both;">
<h1>Graf zhody s ostanými poslancami</h1>
<form>

<label for="deputies">Najdi Poslanca</label>
<select id="deputies" name="select"></select>
</form>

<div id="overviewLegend" style="margin-left:10px"></div>

   <div id="placeholder" style="width:530px;height:400px;margin-bottom:15px;float:left"></div>
    <div id="overview" style="margin-top:14px;width:120px;height:372px;float:left"></div>

<div style="clear:both;"></div>  
</div>

<div class="post" style="clear:both;">
<h1>Graf zhody s politickými Stranami</h1>
   <div id="party2" style="width:545px;height:250px;margin-bottom:15px;float:left"></div>

</div>

<%= render :partial => "layouts/graph", :locals => {:datasets => @datasets, :site_root => @site_root} %>



   