<div class="post">
<h1>Zoznam n치vrhov z치konov</h1>

<% form_tag(statutes_path, :method => "get") do %>
    <%= label_tag(:statute_type, "Typ z치kona") %>
    <%= select_tag "statute_type", @options %>
    <%= submit_tag "Zobraz", "class" => "button" %>
<% end %>

<%= will_paginate @statutes %>

<table>
  <% i = 0 %>
  <tr>
    <th class="first">Typ</th>
    <th>N치zov</th>
  </tr>

<% @statutes.each do |statute| %>
  <tr <%= i%2 == 0 ? ' class="row-a"' : 'class="row-b"' %>>
    <td class="first"><%= statute.statute_type %></td>
    <td><%= statute.subject %></td>
    <td><%= link_to 'Info', statute %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>
</div>    