<p>
  <b>Type:</b>
  <%=h @statute.statute_type %>
</p>

<p>
  <b>Subject:</b>
  <%=h @statute.subject %>
</p>

<p>
  <b>State:</b>
  <%=h @statute.state %>
</p>

<p>
  <b>Result:</b>
  <%=h @statute.result %>
</p>

<p>
  <b>Date:</b>
  <%=h @statute.date %>
</p>

<% unless @statute.doc.nil? %>
<p>
  <a href="<%=h "http://www.nrsr.sk/" + @statute.doc %>" id="link" >Plné znenie zákona</a>
</p>

<% end %>

<h1>Zoznam hlasovani</h1>

<table>
  <% i = 0 %>
  <tr>
    <th class="first">Dátum</th>
    <th>Názov</th>
  </tr>

<% @votings.each do |voting| %>
  <tr <%= i%2 == 0 ? ' class="row-a"' : 'class="row-b"' %>>
    <td class="first"><%= "#{voting.happened_at.year}-#{voting.happened_at.month}-#{voting.happened_at.day}" %></td>
    <td><%= voting.subject %></td>
    <td><%= link_to 'Info', voting %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>