<div class="post">
<h1><%= @statute.statute_type%></h1>

<p>
  <b>Názov:</b>
  <%=h @statute.subject %>
</p>

<p>
  <b>Aktuálny stav:</b>
  <%=h @statute.state %> <%=h @statute.result %>
</p>


<p>
  <b>Dátum doručenia:</b>
  <%=h @statute.date %>
</p>


<p>
  <%= "<a href=\"http://www.nrsr.sk/#{@statute.doc}\" >Plné znenie zákona</a>" unless @statute.doc.nil? %><br />
  <a href="<%=h "http://www.nrsr.sk/Default.aspx?sid=zakony/zakon&ZakZborID=13&CisObdobia=4&CPT=#{@statute.id}" %>" >Podrobný priebeh legislatívneho procesu</a> (Stránka NRSR)
</p>

<% unless @parent.nil? %>
<p>
    <%= link_to("Pôvodný návrh", @parent, :id => "link")%> 
</p>
<% end %>

<h1>Zoznam hlasovani</h1>

<table>
  <% i = 0 %>
  <tr>
    <th class="first">Dátum</th>
    <th>Názov</th>
    <th style="width:140px;">Hlasuj</th>
  </tr>

<% @votings.each do |voting| %>
  <tr <%= i%2 == 0 ? ' class="row-a"' : 'class="row-b"' %>>
    <td class="first"><%=h "#{voting.happened_at.day}.#{voting.happened_at.month}.#{voting.happened_at.year}" %></td>
    <td><%= link_to voting.short_subject.nil? ? voting.subject : voting.short_subject, voting %><br/></td>
    <td><% if current_user %>
            <% form_tag(vote_voting_path(voting), :method => :put, :class => "small_margin" ) do %>
              <% user_vote = @user_votes[voting.id] %>
              <%= user_vote.vote == "Z" ? radio_button_tag(:my_vote, "Z", true) : radio_button_tag(:my_vote, "Z", false) %>
              <%= label_tag(:za, "Za") %><br />
              <%= user_vote.vote == "P" ? radio_button_tag(:my_vote, "P", true) : radio_button_tag(:my_vote, "P", false) %>
              <%= label_tag(:proti, "Proti") %><%= submit_tag "Hlasuj", "class" => "button", "style" => "float:right;" %>
            <% end %>
        <% else %>
            <p class="notice">
            Musíte byť prihlásený.
            </p>
        <% end %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>
</div>    