<h1>Profil</h1>

<p>
  <b>Login:</b>
  <%=h @user.login %><br />
  <%= link_to 'Zmeniť údaje', edit_account_path %>
</p>

<p>
  <b>Počet hlasovaní:</b>
  <%=h @voting_count %>
</p>

<% unless @votes.empty? %>
  <h3>Moje hlasovania:</h3>

  <table>
  <% i = 0 %>
  <tr>
    <th class="first">Hlas</th>
    <th>Názov</th>
  </tr>

<% @votes.each do |vote| %>
  <tr <%= i%2 == 0 ? ' class="row-a"' : 'class="row-b"' %>>
    <td class="first"><%=h vote.vote %></td>
    <td><%=h vote.voting.subject %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>
<% end %>    
