<h1>Login</h1>

<% form_for @user_session, :url => user_sessions_path, :html => { :class => "register" } do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br /><br />
  <%= f.submit "Login", "class" => "button" %>
<% end %>
<p>
  <%= link_to 'Prihlásiť sa ako Hosť', account_path(:type => "guest"), :method => :post, :id => "link" %><br />
  <%= link_to 'Vytvorit Nový účet', new_account_path, :id => "link" %>
</p>